
/* tab pane styling */
.panes div {
    display:none;
    padding:15px 10px;
    border:1px solid #7195b7;
    border-top:0;
    height:170px;
    font-size:14px;
    background-color:#fff;
}

.panes div a {
  color: #7195b7;
}

a.advancedSearch {
  font-size: small;
}